.project {
  max-width: 32rem;
  padding: 0.3rem 0.6rem;
  color: var(--light-text-clr);
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.2s linear;
}

.project h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.6rem;
}

.project img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.6rem;
}

.project div {
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--primary-clr);
  transform: scaleX(0);
  transition: all 0.2s linear;
}

/* HOVER */
.project:hover {
  color: var(--primary-clr);
}

.project:hover div {
  transform: scaleX(1);
}

@media (max-width: 420px) {
  .project {
    max-width: 22rem;
  }
}
