.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  margin-bottom: 3.6rem;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.nav .link {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  transition: all 0.3s ease-in-out;
}

.nav .link:hover {
  color: var(--primary-clr);
}

.nav .icon {
  height: 2.4rem;
}

.themeBtn {
  background-color: transparent;
  border: none;
}

.themeBtn:hover {
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-40deg);
  }
  20% {
    transform: rotateZ(20deg);
  }
  25% {
    transform: rotateZ(-20deg);
  }
  30% {
    transform: rotateZ(10deg);
  }
  35% {
    transform: rotateZ(-10deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

@media (max-width: 420px) {
  .nav {
    justify-content: center;
  }
}
