.projects {
  background-color: var(--cyan-background-clr);
  max-width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: radial-gradient(var(--shdw-clr) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -25px -25px;
}

.projects .content {
  max-width: 64rem;
  padding: 0 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--light-text-clr);
  text-shadow: 3px -3px 1px var(--shdw-clr);
}

.projects .content .title {
  font-size: 6.4rem;
  letter-spacing: 6px;
  margin-bottom: 3.6rem;
}

@media (max-width: 420px) {
  .projects .content .title {
    font-size: 3.6rem;
  }

  .projects .content .link-group .link {
    font-size: 1.6rem;
  }
}
