.projects {
  background-color: var(--cyan-background-clr);
  max-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: radial-gradient(var(--shdw-clr) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -25px -25px;
}

.projects .title {
  font-size: 6.4rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-text-clr);
  letter-spacing: 6px;
  margin-bottom: 2.4rem;

  padding: 0.3rem 0.6rem;
  background-color: var(--yellow-background-clr);
  box-shadow: 4px -4px 0 var(--shdw-clr);
  border-radius: 6px;
}

.projects .content {
  max-width: 64rem;
  padding: 2.4rem;
  font-weight: 500;
  color: var(--light-text-clr);
}

.projects .content .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.projects .content .grid .project {
  max-width: 32rem;
  color: inherit;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  transition: all 0.2s linear;
}

.projects .content .grid .project h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.2rem;
}

.projects .content .grid .project img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 0.6rem;
}

.projects .content .grid .project p {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

.projects .content .grid .project .border {
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--yellow-text-clr);
  box-shadow: 2px -2px 0px var(--shdw-clr);
  transform: scaleX(0);
  transition: all 0.2s linear;
}

.projects .content .grid .project:hover .border {
  transform: scaleX(1);
}

.projects .content .grid .project:hover {
  color: var(--yellow-text-clr);
}

@media (max-width: 420px) {
  .projects .title {
    font-size: 3.6rem;
    margin-bottom: 1.2rem;
  }

  .projects .content .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.6rem;
  }

  .projects .content .grid .project {
    max-width: 22rem;
  }
}
