.synopsis {
  background-color: var(--blue-background-clr);
  max-width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: radial-gradient(var(--shdw-clr) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -25px -25px;
}

.synopsis .content {
  max-width: 64rem;
  padding: 0 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--light-text-clr);
}

.synopsis .content .title {
  font-size: 6.4rem;
  color: var(--yellow-text-clr);
  text-shadow: 3px -3px 1px var(--shdw-clr);
  letter-spacing: 6px;
  margin-bottom: 3.6rem;
}

.synopsis .content .link-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.synopsis .content .link-group .link {
  font-size: 4.8rem;
  text-shadow: 2px -2px 1px var(--shdw-clr);
  text-decoration: none;
  color: inherit;
  transition: all 0.3s linear;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}

.synopsis .content .link-group .border {
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--yellow-text-clr);
  box-shadow: 2px -2px 0px var(--shdw-clr);
}

.synopsis .content .link-group .link:hover {
  color: var(--hover-clr);
}

/* BLINKING ARROW */
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.arrow span {
  color: var(--yellow-text-clr);
  opacity: 0;
  font-size: 3.6rem;
}

.arrow:hover span {
  animation: blinker 0.3s linear infinite;
}

.arrow:hover .link {
  color: var(--hover-clr);
}

@keyframes blinker {
  50% {
    opacity: 1;
  }
}

@media (max-width: 420px) {
  .synopsis .content .title {
    font-size: 3.6rem;
  }

  .synopsis .content .link-group .link {
    font-size: 2.6rem;
  }

  .arrow span {
    font-size: 2.6rem;
  }
}
