@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url(var.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Rubik', sans-serif;
  background-color: var(--scrollbar-bg-clr);
}

::-webkit-scrollbar {
  width: 1.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-clr);
  border-radius: 16px;

  border: 3px solid var(--scrollbar-bg-clr);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1024px) {
  .container {
    display: block;
  }
}
