@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  /* PROFILE */
  --primary-clr: #7048e8;
  --background-clr: #212529;
  --text-clr: #dee2e6;

  /* light theme */
  /* --background-clr: #dee2e6;
  --text-clr: #212529; */

  /* EXPERIENCE */
  --light-text-clr: #dee2e6;
  --yellow-text-clr: #fcc419;
  --hover-clr: #adb5bd;

  --blue-background-clr: #1864ab;
  --grape-background-clr: #862e9c;
  --cyan-background-clr: #0b7285;

  /* MISC */
  --shdw-clr: #212529;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Rubik', sans-serif;

  background-color: var(--background-clr);
}

::-webkit-scrollbar {
  width: 1.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-clr);
  border-radius: 1.6rem;

  border: 3px solid var(--background-clr);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 640px) {
  .container {
    display: block;
  }
}
