@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  /* PROFILE */
  --primary-clr: #f59f00;
  --light-background-clr: #dee2e6;
  --dark-background-clr: #212529;
  --light-text-clr: #dee2e6;
  --dark-text-clr: #212529;

  /* EXPERIENCE */
  --blue-background-clr: #1864ab;
  --teal-background-clr: #087f5b;
  --cyan-background-clr: #0b7285;
  --yellow-background-clr: #f59f00;

  /* MISC */
  --shdw-clr: #212529;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Rubik', sans-serif;

  background-color: var(--dark-background-clr);
}

::-webkit-scrollbar {
  width: 1.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-clr);
  border-radius: 16px;

  border: 3px solid var(--dark-background-clr);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
